@{
    ViewBag.Title = "Search";
}

<section class="bg-light d-flex justify-content-evenly align-items-center flex-grow-1">
    <div class="w-50">
        @using (Html.BeginForm("Search", "Product", FormMethod.Post, new { @class = "form-control bg-light" })) 
        {

            <div class="col-auto mx-5 my-2">
                @Html.Label("query", "Search Product", new { @class = "form-label" })
                @Html.TextBox("query", null, new { @class = "form-control", id = "query", placeholder = "Product name..." })
            </div>
            <div class="col-auto mx-5 my-2">
                @Html.Label("quantity", "Quantity", new { @class = "form-label" })
                @Html.TextBox("quantity", null, new { @class = "form-control", id = "quantity", placeholder = "Enter quantity (e.g., 1.5 or 1,5)" })
            </div>
            <div class="col-auto mx-5 my-2">
                @Html.Label("unit", "Unit", new { @class = "form-label" })
                @Html.DropDownList("unit", new SelectList(new[]
                    {
                        new { Value = "l", Text = "L" },
                        new { Value = "ml", Text = "mL" },
                        new { Value = "piece", Text = "piece" },
                        new { Value = "g", Text = "g" },
                        new { Value = "kg", Text = "kg" }
                    }, "Value", "Text"), "Select Unit", new { @class = "form-select", id = "unit", required = "required" })
            </div>
            <div class="col-auto mx-5 my-4">
                <div class="form-check">
                    @Html.Label("exactItemName", "Exact Item Name", new { @class = "form-check-label" })
                    @Html.CheckBox("exactItemName", new { @class = "form-check-input", id = "exactItemName" })
                </div>
            </div>
            <div class="col-auto mx-5 my-2">
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary mx-2">Search</button>
                    <button type="button" class="btn btn-success mx-2" onclick="addToFavorites()">Save to Favorites</button>
                </div>
            </div>
        }
        <div class="mt-3 d-flex justify-content-around align-items-center">
            <div class="d-flex flex-column justify-content-center">
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <p class="text-center mx-2 my-0">Favourites:</p>
                    <button id="delete-button" class="btn btn-outline-danger mx-2" onclick="deleteButton(false)">
                        <i class="bi bi-trash3-fill"></i>
                    </button>
                </div>
                <div id="favorites-list"></div>
            </div>

        </div>
    </div>

    <!-- Results Section -->
    <div class="results-container mt-5">
        <div class="results">
            <a href="/?store=Carrefour#map-section">Carrefour</a>
            @if (ViewBag.CarrefourResults is List<MDS_PROJECT.Models.Product> carrefourResults && carrefourResults.Any())
            {
                <div class="mb-3">
                    <button class="btn btn-secondary btn-sm" onclick="sortResults(0, 'carrefour')">Sort by Price</button>
                    <button class="btn btn-secondary btn-sm" onclick="sortResults(1, 'carrefour')">Sort by Name</button>
                </div>
                <ul id="carrefour-results" class="product-list">
                    @for (var i = 0; i < ViewBag.CarrefourResults.Count; i++)
                    {
                        var item = ViewBag.CarrefourResults[i];
                        <div data-name="@item.ItemName" data-price="@item.Price" class="d-flex align-items-center">
                        <li class="mx-2">
                            <a href="@item.Link" target="_blank" class="text-decoration-none">
                                    @item.ItemName
                            </a>, @item.Quantity @item.MeasureUnit, @item.Price @item.Currency
                        </li>
                        <button id="result-@item.Id" class="btn btn-outline-success btn-sm mx-2" onclick="addToCart(@item.Id, '@item.ItemName', '@item.Quantity', '@item.MeasureUnit', '@item.Price', '@item.Link', '@item.Store')">
                            <i class="bi bi-plus"></i>
                        </button>
                </div>
                    }
            </ul>
            }
            else
            {
            <p class="no-results">Carrefour results not found.</p>
            }

        <!-- Auchan Results -->
        <a href="/?store=Auchan#map-section">Auchan</a>
            @if (ViewBag.AuchanResults is List<MDS_PROJECT.Models.Product> auchanResults && auchanResults.Any())
            {
            <div class="mb-3">
                <button class="btn btn-secondary btn-sm" onclick="sortResults(0, 'auchan')">Sort by Price</button>
                <button class="btn btn-secondary btn-sm" onclick="sortResults(1, 'auchan')">Sort by Name</button>
            </div>
            <ul id="auchan-results" class="product-list">
                    @for (var i = 0; i < ViewBag.AuchanResults.Count; i++)
                    {
                        var item = ViewBag.AuchanResults[i];
                    <div data-name="@item.ItemName" data-price="@item.Price" class="d-flex align-items-center">
                    <li class="mx-2">
                        <a href="@item.Link" target="_blank" class="text-decoration-none">
                                    @item.ItemName
                        </a>, @item.Quantity @item.MeasureUnit, @item.Price @item.Currency
                    </li>
                    <button id="result-@item.Id" class="btn btn-outline-success btn-sm mx-2" onclick="addToCart(@item.Id, '@item.ItemName', '@item.Quantity', '@item.MeasureUnit', '@item.Price', '@item.Link', '@item.Store')">
                        <i class="bi bi-plus"></i>
                    </button>
            </div>
                    }
        </ul>
            }
            else
            {
        <p>Auchan results not found.</p>
            }

        </div>
   </div>
      
    <script>
        function addToCart(id, itemName, quantity, measureUnit, price, link, store)
        {
            let products = localStorage.getItem("cartItems");

            if (products === null)
            {
                products = [
                    {
                        Id: id,
                        ItemName: itemName, 
                        Quantity: quantity, 
                        MeasureUnit: measureUnit, 
                        Price: price, 
                        Link: link, 
                        Store: store
                    }
                ]
            }
            else 
            {
                products = JSON.parse(products);
                products.push(
                    {
                        Id: id,
                        ItemName: itemName, 
                        Quantity: quantity, 
                        MeasureUnit: measureUnit, 
                        Price: price, 
                        Link: link,
                        Store: store
                    }
                );
            }

            localStorage.setItem("cartItems", JSON.stringify(products));

            const added = document.createElement("i");
            added.className = "bi bi-check-lg";
            const removed = document.getElementById(`result-${id}`);
            removed.replaceWith(added);
        }

        function setQueryValue(query, quantity, unit) {
            document.getElementById('query').value = query;
            document.getElementById('quantity').value = quantity;
            document.getElementById('unit').value = unit;
        }

        function parseFavorite(buttonText) {
            // Use a regular expression to extract the parts
            const match = buttonText.match(/^(.*?) - (\d+) (.+)$/);

            if (match) {
                return {
                    Query: match[1],          // Extracts the query (e.g., "Apples")
                    Quantity: parseInt(match[2], 10), // Extracts the quantity (e.g., 5)
                    Unit: match[3]            // Extracts the unit (e.g., "kg")
                };
            } else {
                throw new Error("String format is invalid");
            }
        }

        function deleteFromFavorites(query, quantity, unit) {
            let favorites = localStorage.getItem("favorites");
            if (favorites === null) {
                Error("Nothing to delete.");
                return;
            }

            favorites = JSON.parse(favorites);
            newFavorites = [];
            let deleted = false;

            for (let favorite of favorites)
            {
                if (favorite.Query == query && favorite.Quantity == quantity && favorite.Unit == unit)
                {
                    deleted = true;
                    continue;
                }
                newFavorites.push(favorite);
            }

            if (!deleted)
            {
                Error("No item found.");
                return;
            }

            localStorage.setItem("favorites", JSON.stringify(newFavorites));
            displayFavorites();

        }

        function addToFavorites() {
            const query = document.getElementById('query').value.trim();
            const quantity = document.getElementById('quantity').value.trim();
            const unit = document.getElementById('unit').value;

            if (!query || !quantity || !unit) {
                alert('Please fill in all fields to add to favorites.');
                return;
            }

            let favorites = localStorage.getItem("favorites");
            if (favorites === undefined)
            {
                favorites = [
                    {Query: query, Quantity: quantity, Unit: unit}
                ];
            }
            else 
            {
                favorites = JSON.parse(favorites);
                if (favorites.length >= 3) {
                    Error("You cannot add more than 3 items in favorites!");
                    return;
                }
                favorites.push({Query: query, Quantity: quantity, Unit: unit});
            }
            localStorage.setItem("favorites", JSON.stringify(favorites));

            displayFavorites();
        }
        function deleteButton() {
            // Get the main button and the container div
            const button = document.getElementById("delete-button");
            const favoritesList = document.getElementById("favorites-list");

            // Determine the new class and text based on the current state of the main button
            const isDark = button.classList.contains("btn-outline-dark");
            const oldClass = isDark ? "btn-outline-dark" : "btn-outline-danger";
            const newClass = isDark ? "btn-outline-danger" : "btn-outline-dark";
            const newHtml = isDark ? "<i class=\"bi bi-trash3-fill\"></i>" : "<i class=\"bi bi-x-lg\"></i>";

            // Update the main button
            button.classList.remove(oldClass);
            button.classList.add(newClass);
            button.innerHTML = newHtml;


            displayFavorites();
        }

        function displayFavorites() {
            let favorites = localStorage.getItem("favorites");

            if (favorites === null)
                return;
            favorites = JSON.parse(favorites);

            const button = document.getElementById("delete-button");
            const favoritesList = document.getElementById('favorites-list');
            favoritesList.innerHTML = "";

            const isDark = button.classList.contains("btn-outline-dark");
            const Class = isDark ? "btn-outline-danger" : "btn-outline-dark";

            // Create a button for the favorite item
            for (let favorite of favorites) {
                const favoriteItem = document.createElement('button');
                favoriteItem.type = 'button';
                favoriteItem.className = `btn ${Class} rounded-pill px-4 mx-1`;
                favoriteItem.innerText = `${favorite.Query} - ${favorite.Quantity} ${favorite.Unit}`;
                favoriteItem.onclick = isDark ? () => deleteFromFavorites(favorite.Query, favorite.Quantity, favorite.Unit)
                    : () => setQueryValue(favorite.Query, favorite.Quantity, favorite.Unit);

                // Add the button to the favorites list
                favoritesList.appendChild(favoriteItem);
            }
        }

        var carrefourSortByPriceAsc = true;
        var carrefourSortByNameAsc = true;
        var auchanSortByPriceAsc = true;
        var auchanSortByNameAsc = true;

        function sortResults(criterium, store) {
            var ul = document.getElementById(`${store}-results`);
            let array = Array.from(ul.children);

            if (criterium === 0) // by price
            {
                array.sort((a, b) => {
                    const aVal = Number(a.getAttribute("data-price"));
                    const bVal = Number(b.getAttribute("data-price"));

                    if (store.localeCompare("carrefour"))
                        return carrefourSortByPriceAsc ? aVal - bVal : bVal - aVal;
                    else 
                        return auchanSortByPriceAsc ? aVal - bVal : bVal - aVal;

                });

                if (store.localeCompare("carrefour"))
                    carrefourSortByPriceAsc = !carrefourSortByPriceAsc;
                else 
                    auchanSortByPriceAsc = !auchanSortByPriceAsc;
            } 
            else if (criterium === 1) // by name
            {
                array.sort((a, b) => {
                    const aVal = a.getAttribute("data-name");
                    const bVal = b.getAttribute("data-name");
                    if (store.localeCompare("carrefour"))
                        return carrefourSortByNameAsc ? aVal.localeCompare(bVal) : bVal.localeCompare(aVal);
                    else
                        return auchanSortByNameAsc ? aVal.localeCompare(bVal) : bVal.localeCompare(aVal);
                });

                if (store.localeCompare("carrefour"))
                    carrefourSortByNameAsc = !carrefourSortByNameAsc;
                else 
                    auchanSortByNameAsc = !auchanSortByNameAsc;
            } 

            for (var item of array)
            {
                ul.appendChild(item);
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            displayFavorites();
        });
    </script>
</section>