@{
    ViewBag.Title = "Cart";
}
<section class="px-5 pt-5 bg-light flex-grow-1">
    <h1>Shopping Cart</h1>

    <ul id="cartItems" class="list-group">
        @if (ViewBag.Items != null)
        {
            @foreach (var item in ViewBag.Items)
            {
                <li class="list-group-item bg-dark text-white">
                    @item.ItemName - Quantity: @item.Quantity @item.MeasureUnit - Multiplier: @item.Multiplier
                    <p>Carrefour: @item.CarrefourMessage</p>
                </li>
            }
        }
        else {
            <p>Your Cart is empty, add some products <a href="/Product">here</a>!</p>
        }
    </ul>

    <h2 class="mt-5">Totals</h2>
    <p class="totals"><a href="javascript:void(0)" onclick="redirectToMaps('Carrefour')">Carrefour Total:</a> @ViewBag.CarrefourTotal Lei</p>
</section>

<script>
    var itemIndex = 1;
    
    function redirectToMaps(store) {
        window.location.href = "/Maps?store=" + store;
    }
</script>